.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  border: 3px solid #000 ;
  border-radius: 100% ;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 3s linear infinite;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #4070F4;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Cambria, Cochin, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, Georgia, Times, 'Times New Roman', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  text-align: center;
  padding: 50px;
}

.home h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: solid #3a3939;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  text-shadow: none;
}

.btn.redirectlogin {
  background-color: #0171D3;
  color: #fff;
}

.btn.redirectlogin:hover {
  background-color: #0e9a1f;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

/* Form CSS */

.div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #4070F4;
}

.form {
  background: #fff;
  color: #000;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: #0056b3;
  color: #fff;
  border: solid #fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all .2s ease-in-out
}

.form button:hover {
  background-color: #308cee;
  color: #fff;
}

.form link {
  color: #fff;
  size-adjust: auto;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.navbar a,
.navbar button {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar a:hover,
.navbar button:hover {
  background-color: #555;
}

.navbar .active-link {
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.search-container {
  padding: 20px;
  color: #000;
  max-width: 600px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  width: 70%;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.result-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: calc(50% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-card h3 {
  margin-top: 0;
}

.result-card p {
  margin: 5px 0;
}

.contact-list-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: safe;
}

.error-message {
  color: red;
  margin-bottom: 20px;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  color: #000;

  border-radius: 8px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact-card h3 {
  margin: 0 0 10px;
}

.contact-card p {
  margin: 0 0 20px;
}

.spam-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.spam-button.spam {
  background-color: #ff4d4d;
  color: white;
}

.spam-button.not-spam {
  background-color: #4caf50;
  color: white;
}